ul {

}
ul li {

} 
ul li a {
    
}  
p {
    font-size: 14px;
    color: red;
}    
h1 {
    padding: 20px;
}                                                                                                                                                                              ul li {
img {
    padding: 30px;
}